#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2C3E50;
  .double-bounce1,
  .double-bounce2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  .double-bounce2 {
    animation-delay: -1.0s;
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}
