.section {
  background-color: $background-color;
  text-align: center;
}
.section.leaving {
  background-color: $hover-color;
}
.section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}
