#home {
  h2 {
    color: $shallow-color;
    font-size: 20px;
  }
  h3 {
    color: #fff;
    margin: 14px;
    font-size: 24px;
  }
  a {
    font-size: 18px;
  }
}

#education {
  h2 {
    color: #fff;
    font-size: 30px;
    margin: 8px;
  }
  h3 {
    margin-top: 16px;
    color: $shallow-color;
    font-size: 20px;
  }
}

#project {
  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }
  h3 {
    color: $shallow-color;
    font-size: 20px;
    margin: 10px 0;
  }
  p {
    color: $deep-color;
    font-size: 18px;
    margin: 5px 0;
  }
}
